.row.show-all
  .medium-10.columns.show-h1
    h1 All Recipes
  .medium-2.columns
    a.add-button(href='/glazes') +

.footer-pusher
  for val in recipes
    .row.recipe
      .medium-2.columns.image
        img.glaze-test(src='/images/reitz-blue-green.jpg')
        //- img.glaze-test(src='/images/colors/' + val.color + '.png')
      .medium-9.columns
        a(href='/glazes/' + val._id) 
          h3 #{val.title}
        p
          | #{val.tempRange} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.cone} 
          span.pipe &nbsp;|&nbsp; 
          |  #{val.surface}
      .medium-1.columns.fav
        if val.favorite
          i.fa.fa-heart
        
.row
  .medium-12.columns.footer
