extends layout

block content
  .container
    .row  
      .medium-12.columns
        .medium-8.columns
          p Header
        .medium-4.columns
          input(type='text' placeholder='Search' name='search')
    
    .row
      .medium-1.columns
        p All Recipes
        p Firing Temp
        p Surface
        
      .medium-4.columns
        p All Recipes
        p Favorites
        p Recently Added
        hr
        p Dynamic Content - Surface/ Cone
          
      .medium-7.columns
        p You need to do more with Rita. Believe me, I'd like to. Douche chill! He… she… what's the difference? Oh hear, hear. In the dark, it all looks the same. I need a fake passport, preferably to France… I like the way they think. Oh, yeah. The guy in the $4,000 suit is holding the elevator for a guy who doesn't make that in three months. COME ON! Heart attack never stopped old big bear.
        
        p I'm afraid I'm with Michael on this one. The guy runs a prison, he can have any piece of ass he wants.

        p You want your belt to buckle, not your chair. She keeps saying that God is going to show me a sign. The… something of my ways. Wisdom?










//
