extends layout

block content
  .container
    .row
      .medium-1.columns.main.show-for-medium-up.primary-nav
        if currentUser
          button#user
            img(src='/images/user.png')
            p.light-text.font-small #{currentUser}
        form(action='/glazes/show-all' method='get')
          button(type='submit') 
            img(src='/images/recipes.png')
            p.light-text.font-small Recipes
        form(action='/glazes/firing-temp' method='get')
          button(type='submit')
            img(src='/images/cone.png')
            p.light-text.font-small Cone
        form(action='/glazes/surface' method='get')
          button(type='submit')
            img(src='/images/surface.png')
            p.light-text.font-small Surface
        
      .medium-4.columns.main.secondary-nav
        form(action='/glazes/show-all' method='get')
          button#top(type='submit') 
            h3 All Recipes
        form(action='/glazes/favorites' method='get')
          button#middle(type='submit')
            h3 Favorites
        form(action='/glazes/recently-added' method='get')
          button#bottom(type='submit')
            h3 Recently Added
        hr
        if firingTemp
          include includes/nav-range
        else if surface
          include includes/nav-surface
          
      .medium-7.columns.main.content
        .row.header
          .medium-push-6.medium-4.columns
            p.title the glazebook
            //- input(type='text' placeholder='Search' name='search')
            //- button(type='submit') 
            //-   i.fa.fa-search 
          .medium-2.columns.logout
            if currentUser
              form(action='/logout' method='post')
                button(type='submit') Logout
        .row
          .medium-12.columns
            if recipes
              include includes/show-all
            else if oneRecipe
              include includes/show-one
            else if editRecipe
              include includes/edit
            else if favRecipe
              include includes/favorites
            else if lowRecipes
              include includes/range
            else if midRecipes
              include includes/range
            else if highRecipes
              include includes/range
            else if shinyRecipes
              include includes/surface
            else if semiRecipes
              include includes/surface
            else if satinRecipes
              include includes/surface
            else if matteRecipes
              include includes/surface
            else if dryRecipes
              include includes/surface
            else
              include includes/new





//
