extends layout

block content
  .container
    .row  
      .medium-12.columns
        .medium-8.columns
          p Header
        .medium-4.columns
          input(type='text' placeholder='Search' name='search')
          input(type='submit' value='©')
    
    .row
      .medium-1.columns
        if currentUser
          p #{currentUser}
          form(action='/logout' method='post')
            input(type='submit' value='Logout')
        p All Recipes
        p Firing Temp
        p Surface
        
      .medium-4.columns
        p All Recipes
        p Favorites
        p Recently Added
        hr
        p Dynamic Content - Surface/ Cone
          
      .medium-7.columns
        if allRecipes 
          include ../includes/glazes/show-all
        else
          include ../includes/glazes/new
        //- include ../includes/glazes/show-all
        
        
        //On signin, with no recipes, 
        //Render some placeholder content -- start adding recipes
        //else if recipe
        //Render show-all page
        //If click on recipe
        //Render show-one
        //If edit
        //render edit page with data prepopulated
        //if delete
        //render show-all page
        //If new
        //render new page










//
