extends layout

block content
  .container
    .row.header 
      .medium-8.columns
        p the glazebook
      .medium-4.columns
        input(type='text' placeholder='Search' name='search')
        input(type='submit' value='©')
    
    .row
      .medium-1.columns.main-content.primary-nav
        if currentUser
          p #{currentUser}
          form(action='/logout' method='post')
            input(type='submit' value='Logout')
        p
        form(action='/glazes/show-all' method='get') 
          input(type='submit' value='All Recipes')
        p
        form(action='/glazes/firing-temp' method='get') 
          input(type='submit' value='Firing Temp')
          
        
      .medium-4.columns.main-content
        p
        form(action='/glazes/show-all' method='get') 
          input(type='submit' value='All Recipes')
        p
        form(action='/glazes/favorites' method='get')
          input(type='submit' value='Favorites')
        p 
        form(action='/glazes/recently-added' method='get')
          input(type='submit' value='Recently Added')
        hr
        if firingTemp
          include ../includes/secondary-nav/firing-temps
          
      .medium-7.columns.main-content
        if recipes
          include ../includes/glazes/show-all
        else if recipe
          include ../includes/glazes/show-one
        else if editRecipe
          include ../includes/glazes/edit
        else if favRecipe
          include ../includes/glazes/favorites
        else if firingTemp 
          include ../includes/glazes/show-all
          preExplosion
        else
          include ../includes/glazes/new










//
