extends layout

block content
  .container
    .row  
      .medium-12.columns
        .medium-8.columns
          p the glazebook
        .medium-4.columns
          input(type='text' placeholder='Search' name='search')
          input(type='submit' value='©')
    
    .row
      .medium-1.columns.main-content
        if currentUser
          p #{currentUser}
          form(action='/logout' method='post')
            input(type='submit' value='Logout')
        a(href='/glazes/show-all') All Recipes
        p Firing Temp
        p Surface
        
      .medium-4.columns.main-content
        a(href='/glazes/show-all') All Recipes
        p Favorites
        p Recently Added
        hr
        p Dynamic Content - Surface/ Cone
          
      .medium-7.columns.main-content
        if recipe 
          include ../includes/glazes/show-all
        else if oneRecipe
          include ../includes/glazes/show-one
        else if editRecipe
          include ../includes/glazes/edit
        else
          include ../includes/glazes/new










//
