/***** DEV *****/
/*.columns {
  border: 1px solid gray;
}*/

/********** Colors **********/
/*
red-orange: #f15e51
yellow-orange: #f7b267
deep green: #093a43
dark blue: #113b5a
light blue: #b6dad5
light warm gray: #f5f2f2
warm gray: #dcd9d9
dark warm gray: #767373
*/

/********** Global Styles **********/
* {
  box-sizing: border-box;
  font-size: 1em;
}

.container {
  margin-top: 20px;
}

.main {
  height: 678px;
  overflow: scroll;
}

body, .primary-nav, .secondary-nav, .content {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body { background-image: url('../images/bg-10.jpg'); }
.primary-nav { background-image: url('../images/bg-10-dark-blur.jpg'); }
.secondary-nav { background-image: url('../images/bg-10-blur.jpg'); }
.content { background-image: url('../images/bg-10-light-blur.jpg'); }

button {
  border: none;
  outline: none;
}

.footer {
  background-color: lightgray;
}

/********** Type **********/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.45;
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 { font-size: 3.157em; margin-top: 0; }
h2 { font-size: 2.369em; }
h3 { font-size: 1.777em; }
h4 { font-size: 1.333em; }

small, .font-small { font-size: 0.875em; }

/********** Login Page **********/

p.errors {
  color: #f15e51;
}

/********** Primary Nav **********/
.primary-nav {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.primary-nav button {
  position: relative;
  right: 15px;
  top: 148px;
  width: 143%;
  padding: 0 26px;
  background-color: transparent;
}

.primary-nav button:hover,
.primary-nav button:focus {
    background-color: rgba(0, 0, 0, 0.275);;
}

.primary-nav img {
  position: relative;
  top: 14px;
}

.primary-nav p {
  position: relative;
  left: -26px;
  width: 214%;
}

.light-text {
  color: rgba(255, 255, 255, 0.7);
}

/********** Secondary Nav **********/

.secondary-nav button {
  position: relative;
  right: 15px;
  width: 109%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
}

.secondary-nav button h3 {
  margin: 0.25em 0.5em;
}

.secondary-nav button#top {
  margin-top: 14px;
}

.secondary-nav h3.category-header {
  margin-top: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.secondary-nav button#bottom {
  margin-bottom: 7px;
}

.secondary-nav button:hover,
.secondary-nav button:active {
  background-color: #f15e51;
  color: rgba(255, 255, 255, 0.7);
}

.secondary-nav button h4 {
  position: relative;
  left: 8px;
  margin: 0.25em 0.5em;
}

/********** Add New Content **********/

.dropdowns {
  background-color: lavender;
}

#favorite {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#favorite ~ i.fa.fa-heart,
#favorite:checked ~ i.fa.fa-heart-o {
  display: none;
}

#favorite:checked ~ i.fa.fa-heart {
  display: inline;
}

/********** Forms and Inputs **********/

input[type='text'] {
  background: transparent;
  width: 90%;
  padding: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid #dcd9d9;
  transition: border 0.3s;
}

/*input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 1px #767373;
}*/

/********** Content **********/
.content {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/********** Show One Page **********/
/*.line {
  border-bottom: 1px solid #dcd9d9;
}

textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  border: solid 1px #dcd9d9;
  transition: box-shadow 0.3s, border 0.3s;
}

textarea:focus,
textarea.focus {
  border: solid 1px #767373;
}*/
