/********** Colors **********/
/*
red-orange: #f15e51 | 241 94 81
yellow-orange: #f7b267
deep green: #093a43
dark blue: #113b5a
light blue: #b6dad5
light warm gray: #f5f2f2
warm gray: #dcd9d9
dark warm gray: #767373
*/

/********** Global Styles **********/
* {
  box-sizing: border-box;
  font-size: 1em;
}

a:visited,
a:link {
  color: #555;
  text-decoration: none;
}

.container {
  padding-top: 20px;
}

.main {
  height: 676px;
  overflow: scroll;
  color: #555;
}

body, .primary-nav, .secondary-nav, .content {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body { background-image: url('../images/bg-10.jpg'); }
.primary-nav { background-image: url('../images/bg-10-dark-blur.jpg'); }
.secondary-nav { background-image: url('../images/bg-10-blur.jpg'); }
.content { background-image: url('../images/bg-10-light-blur.jpg'); }

button, select, textarea, .add-button, input[type='text'] {
  border-radius: 4px;
  border: none;
  outline: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 12px;
  padding: 6px 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  box-shadow: 2px 2px 3px #ddd; /* offset-x | y | blur-radius | spread-radius | color */
}

select:focus,
textarea:focus {
    box-shadow: 0 0 3px #f15e51;
}

input[type='text'] {
  width: 100%;
  background: transparent;
  border-radius: 0px;
  border-bottom: 2px solid #555;
  transition: border 0.4s;
}

input[type="text"]:focus {
  border-bottom: solid 2px #f15e51;
}

::-webkit-input-placeholder { color: #ccc; }
:-moz-placeholder { color: #ccc; }
::-moz-placeholder { color: #ccc; }
:-ms-input-placeholder { color: #ccc; }

span.pipe {
  color: #f15e51;
}

.footer {
  background-image: url('../images/bg-10-dark-blur.jpg');
  height: 42px;
  width: 100%;
}

/********** Type **********/

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.45;
}

p { margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 { font-size: 3.157em; margin-top: 0; }
h2 { font-size: 2.369em; }
h3 { font-size: 1.777em; }
h4 { font-size: 1.333em; }

small, .font-small { font-size: 0.875em; }

/********** Login Page **********/
p.errors {
  color: #f15e51;
}

/********** Primary Nav **********/
.primary-nav {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.primary-nav button {
  position: relative;
  right: 15px;
  top: 148px;
  width: 143%;
  padding: 0 26px;
  background-color: transparent;
}

.primary-nav button:hover,
.primary-nav button:focus {
    background-color: rgba(0, 0, 0, 0.275);;
}

.primary-nav img {
  position: relative;
  top: 14px;
}

.primary-nav p {
  position: relative;
  left: -26px;
  width: 214%;
}

hr {
  border: 1px solid rgba(241, 94, 81, 0.7);
}

.light-text {
  color: rgba(255, 255, 255, 0.7);
}

/********** Secondary Nav **********/
.secondary-nav button {
  position: relative;
  right: 15px;
  width: 109%;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: left;
  color: #555;
  background-color: transparent;
}

.secondary-nav button h3 {
  margin: 0.25em 0.5em;
}

.secondary-nav button#top {
  margin-top: 14px;
}

.secondary-nav button#bottom {
  margin-bottom: 7px;
}

.secondary-nav h3.category-header {
  margin-top: 14px;
  margin-bottom: 7px;
  color: #555;
}

.secondary-nav button:hover,
.secondary-nav button:active {
  background-color: #f15e51;
  color: rgba(255, 255, 255, 0.7);
}

.secondary-nav button h4 {
  position: relative;
  left: 8px;
  margin: 0.25em 0.5em;
}

/********** Content **********/
.content {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.content .header {
  margin-top: 14px;
}

.content .search-bar {
  border-radius: 4px;
  border: 2px solid #999;
  padding: 3.5px 7px;
}

.content .search-bar input[name='search'] {
  width: 83%;
  border-bottom: none;
}

.content .search-bar button[type='submit'] {
  background-color: transparent;
  position: relative;
  right: -10px;
  padding-left: 0px;
  color: #999;
}

.content .logout button {
  padding: 7px 14px;
  background-color: #b6dad5;
  box-shadow: 2px 2px 3px #bbb;
}

.content .logout button:active {
  box-shadow: 0px 0px 1px #bbb;
}

.content-h1 {
  margin-top: 14px;
}

/********** Add New Content **********/
.new-title input, .edit-title input {
  position: relative;
  bottom: 6px;
  width: 85%;
  margin-left: 14px;
}

.new-title .fav, .edit-title .fav {
  padding: 0px;
}

.add-new h2, .edit h2 {
  display: inline;
  color: #f15e51;
}

.add-new h3, .edit h3 {
  margin-top: 7px;
  color: #f15e51;
}

#favorite {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

i.fa.fa-heart-o,
i.fa.fa-heart {
  margin-left: 7px;
  font-size: 1.75em;
  color: #f15e51;
}

#favorite ~ i.fa.fa-heart,
#favorite:checked ~ i.fa.fa-heart-o {
  display: none;
}

#favorite:checked ~ i.fa.fa-heart {
  display: inline;
}

.dropdowns {
  padding: 7px 14px;
  margin: 14px 0 7px;
  background-color: #eee;
}

.dropdowns:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.075);
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.dropdowns:last-child {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdowns i,
.add-info i {
  position: absolute;
  z-index: 1;
  font-size: 1.33em;
  color: #b6dad5;
  padding: 6px;
}

.dropdowns i#top { left: 282px; top: 64px; }
.dropdowns i#middle { left: 282px; top: 109px; }
.dropdowns i#bottom { left: 282px; top: 155px; }
.add-info i#top { left: 170px; top: 54px;}
.add-info i#bottom { left: 170px; top: 99px;}

.ingredients input {
  position: relative;
  top: -14px;
  padding: 7px;
}

textarea#notes {
  height: 342px;
}

.add-info {
  background-color: #eee;
  border-radius: 4px;
  padding: 14px;
  height: 256px;
}

.add-info select:nth-child(3) {
  margin-bottom: 28px;
}

.add-info h4 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #f15e51;
}

.add-info .upload {
  margin-top: 14px;
}

.add-info input[type='file']{
  max-width: 100%;
  font-size: 0.785em;
}

.submit-button button {
  background-color: #b6dad5;
  margin: 14px 0px 28px;
  width: 100%;
  box-shadow: 2px 2px 3px #bbb;
}

.submit-button button:active {
  box-shadow: 0px 0px 1px #bbb;
}

.submit-button h4 {
  margin: 7px 0px;
}

/********** Show All Content **********/
.show-h1 h1 {
  margin-top: 50px;
}

.add-button {
  position: relative;
  top: 48px;
  left: 27px;
  font-size: 2.369em;
  padding: 0px 16px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #ddd;
  box-shadow: 2px 2px 3px #bbb;
}

.add-button:active {
  box-shadow: 0px 0px 1px #bbb;
}

.recipe:nth-child(odd),
.recipe:nth-child(even) {
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
}

.recipe:nth-child(even) {
  background-color: #eee;
}

.recipe h3 {
  color: #f15e51;
  margin-top: 14px;
}

.recipe p {
  position: relative;
  top: -7px;
  margin-bottom: 14px;
}

.recipe .fav {
  position: relative;
  right: 23px;
  top: 34px;
  font-size: 1.333em;
}





/********** Show One Page **********/
/*.line {
  border-bottom: 1px solid #dcd9d9;
}

textarea {
  width: 100%;
  padding: 5px;
  outline: none;
  border: solid 1px #dcd9d9;
  transition: box-shadow 0.3s, border 0.3s;
}

textarea:focus,
textarea.focus {
  border: solid 1px #767373;
}*/
