form(action='/login' method='post')
  input(type='email' placeholder='Email' name='login_email' value=email)
  p
  input(type='password' placeholder='Password' name='login_password')
  p
  input(type='submit' value='Log In')
if loginError
  p.errors= loginError
