/* LAYOUT */
html, body, article, .glass::before {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.glass {
  position: relative;
}

.glass::before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
}

/* BACKGROUNDS */
body {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/pelican.jpg');
  background-size: cover;
}

.glass::before {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/28727/pelican.jpg');
  /* Prefix free isn't picking up this one */
  /*-webkit-filter: url('#blur');*/
  filter: url('#blur');
  /*-webkit-filter: blur(5px);*/
  filter: blur(10px);
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.glass {
  background-color: white;
  opacity: 0.2;
}








/**/
