.row
  .medium-12.columns
    h3.category-header Temperature Range

for val in firingTemp
  .row
    .medium-12.columns
      form(method='get' action='/glazes/firing-temp/' + val.range)
        button(type='submit')
          h4= val.title
