.row
  .medium-12.columns
    h3.category-header Surface

for val in surface
  .row
    .medium-12.columns
      form(method='get' action='/glazes/surface/' + val.surface)
        button(type='submit')
          h4= val.title
