.row
  .medium-10.columns
    h2 All Recipes
  .medium-2.columns
      a(href='') Add

.row
  .medium-2.columns
    p image
  .medium-9.columns
    p Temp | Surface | Title
    p June 30, 2015
  .medium-1.columns 
    p Fav
