.row
  .medium-10.columns
    h2 All Recipes
  .medium-2.columns
      //- form(action='' method='post')
      //-   input(type='submit' value='Add')
.row
  //- for val in allRecipes
  //-   p= val.glazeRecipes.title
  p Content
  
  
  .medium-2.columns
    p image
  .medium-9.columns
    //- for recipe in allRecipes
    //-   p= recipe.title
      p Working
  .medium-1.columns 
    p Fav
