.row  
  .medium-12.columns
    h1 Add a Glaze Recipe

form(action='/show-all' method='post')
  .row.new-title
    .medium-10.columns
      label(for='title') Title
      input(type='text' id='title' name='title' required)
    .medium-2.columns
      label(for='favorite') Favorite 
      input(type='checkbox' id='favorite' name='favorite')
      i.fa.fa-heart-o
      i.fa.fa-heart
  
  .row.dropdowns
    .medium-6.columns
      .row
        .medium-12.columns
          p Firing
        .medium-12.columns
          select(id='temp-range' name='temp_range' required)        
            option(disabled selected) Temperature Range
            option Low Fire
            option Mid Range
            option High Fire
        .medium-12.columns
          select(id='cone' name='cone' required)
            option(disabled selected) Cone
            option ∆ 022
            option ∆ 021
            option ∆ 020
            option ∆ 019
            option ∆ 018
            option ∆ 017
            option ∆ 016
            option ∆ 015
            option ∆ 014
            option ∆ 013
            option ∆ 012
            option ∆ 011
            option ∆ 010
            option ∆ 09
            option ∆ 08
            option ∆ 07
            option ∆ 06
            option ∆ 05
            option ∆ 04
            option ∆ 03
            option ∆ 02
            option ∆ 01
            option ∆ 1
            option ∆ 2
            option ∆ 3
            option ∆ 4
            option ∆ 5
            option ∆ 6
            option ∆ 7
            option ∆ 8
            option ∆ 9 
            option ∆ 10
            option ∆ 11
            option ∆ 12
            option ∆ 13
            option ∆ 14
            option ∆ 15
        .medium-12.columns
          select(id='firing-type' name='firing_type' required)
            option(disabled selected) Type of Firing
            option Oxidation
            option Reduction
            option Raku
            option Salt or Soda
            option Wood
            option Lustre
            option Saggar
      
    .medium-6.columns
      .row
        .medium-12.columns
          p Appearance
        .medium-12.columns
          select(id='surface' name='surface' required)
            option(disabled selected) Surface
            option Shiny or Glossy
            option Semi-Gloss
            option Semi-Matte or Satin
            option Matte
            option Dry Matte
        .medium-12.columns
          select(id='opacity' name='opacity' required)
            option(disabled selected) Opacity
            option Transparent
            option Translucent
            option Opaque
        .medium-12.columns
          select(id='color' name='color' required)
            option(disabled selected) Color
            option No Color
            option White
            option Gray
            option Black
            option Brown
            option Red
            option Orange
            option Yellow
            option Green
            option Blue-Green
            option Blue
            option Purple
   
  .row
    .medium-7.columns
      .row
        .medium-9.columns
          label(for='ingredients') Base Ingredients
          br
          input(type='text' id='ingredients' name='ingredient_1')
          input(type='text' id='ingredients' name='ingredient_2')
          input(type='text' id='ingredients' name='ingredient_3')
          input(type='text' id='ingredients' name='ingredient_4')
          input(type='text' id='ingredients' name='ingredient_5')
          input(type='text' id='ingredients' name='ingredient_6')
          input(type='text' id='ingredients' name='ingredient_7')
          input(type='text' id='ingredients' name='ingredient_8')
          input(type='text' id='ingredients' name='ingredient_9')
          input(type='text' id='ingredients' name='ingredient_10')
        .medium-3.columns
          label(for='amount') Amount
          br
          input(type='text' id='amount' name='amount_1')
          input(type='text' id='amount' name='amount_2')
          input(type='text' id='amount' name='amount_3')
          input(type='text' id='amount' name='amount_4')
          input(type='text' id='amount' name='amount_5')
          input(type='text' id='amount' name='amount_6')
          input(type='text' id='amount' name='amount_7')
          input(type='text' id='amount' name='amount_8')
          input(type='text' id='amount' name='amount_9')
          input(type='text' id='amount' name='amount_10')
      .row
        .medium-9.columns
          label(for='add-ingredients') Additional Ingredients
          br
          input(type='text' id='add-ingredients' name='add_in_1')
          input(type='text' id='add-ingredients' name='add_in_2')
          input(type='text' id='add-ingredients' name='add_in_3')
          input(type='text' id='add-ingredients' name='add_in_4')
          input(type='text' id='add-ingredients' name='add_in_5')
          input(type='text' id='add-ingredients' name='add_in_6')
        .medium-3.columns
          label(for='add-amounts') Amount
          br
          input(type='text' id='add-amounts'  name='add_amount_1')
          input(type='text' id='add-amounts'  name='add_amount_2')
          input(type='text' id='add-amounts'  name='add_amount_3')
          input(type='text' id='add-amounts'  name='add_amount_4')
          input(type='text' id='add-amounts'  name='add_amount_5')
          input(type='text' id='add-amounts'  name='add_amount_6')
          
    .medium-5.columns
      .row
        .medium-12.columns
          label(for='notes') Notes
          br  
          textarea(rows=6 id='notes' name='notes')
      
      .row
        .medium-12.columns
          p Additional Information
        .medium-12.columns
          select(id='specialty' name='specialty')
            option(disabled selected) Specialty Glaze
            option Crystalline
            option Metallic
            option Luster
            option Texture
            option Rivulet
            option Slip
            option Stain
            option Engobe
        
        .medium-12.columns
          select(id='test-status' name='test_status')
            option(disabled selected) Test Status
            option Tested
            option Untested
            option In Progress
            
        .medium-12.columns
          label(for='image') Upload Image
          input(type='file' id='image' placeholder='Select File' name='image')
  
  .row
    .medium-12.columns
      input(type='submit' value="Add New Recipe")
      
.row
  .medium-12.columns.footer  
    p Footer
  //- .row
  //-   .medium-4.columns.attributes
  //-     label(for='temp-range') Temperature Range*
  //-     select(id='temp-range' name='temp_range' required)        
  //-       option(disabled selected) Choose Temp Range
  //-       option Low Fire
  //-       option Mid Range
  //-       option High Fire
  //-       
  //-     label(for='cone') Cone*
  //-     select(id='cone' name='cone' required)
  //-       option(disabled selected) Choose Cone
  //-       option ∆ 022
  //-       option ∆ 021
  //-       option ∆ 020
  //-       option ∆ 019
  //-       option ∆ 018
  //-       option ∆ 017
  //-       option ∆ 016
  //-       option ∆ 015
  //-       option ∆ 014
  //-       option ∆ 013
  //-       option ∆ 012
  //-       option ∆ 011
  //-       option ∆ 010
  //-       option ∆ 09
  //-       option ∆ 08
  //-       option ∆ 07
  //-       option ∆ 06
  //-       option ∆ 05
  //-       option ∆ 04
  //-       option ∆ 03
  //-       option ∆ 02
  //-       option ∆ 01
  //-       option ∆ 1
  //-       option ∆ 2
  //-       option ∆ 3
  //-       option ∆ 4
  //-       option ∆ 5
  //-       option ∆ 6
  //-       option ∆ 7
  //-       option ∆ 8
  //-       option ∆ 9 
  //-       option ∆ 10
  //-       option ∆ 11
  //-       option ∆ 12
  //-       option ∆ 13
  //-       option ∆ 14
  //-       option ∆ 15
  //-       
  //-     label(for='firing-type') Type of Firing*
  //-     select(id='firing-type' name='firing_type' required)
  //-       option(disabled selected) Choose Firing Type
  //-       option Oxidation
  //-       option Reduction
  //-       option Raku
  //-       option Salt or Soda
  //-       option Wood
  //-       option Lustre
  //-       option Saggar
  //- 
  //-     label(for='surface') Surface*
  //-     select(id='surface' name='surface' required)
  //-       option(disabled selected) Choose Surface
  //-       option Shiny or Glossy
  //-       option Semi-Gloss
  //-       option Semi-Matte or Satin
  //-       option Matte
  //-       option Dry Matte
  //- 
  //-     label(for='opacity') Opacity*
  //-     select(id='opacity' name='opacity' required)
  //-       option(disabled selected) Choose Opacity
  //-       option Transparent
  //-       option Translucent
  //-       option Opaque
  //- 
  //-     label(for='color') Color*
  //-     select(id='color' name='color' required)
  //-       option(disabled selected) Choose Color
  //-       option No Color
  //-       option White
  //-       option Gray
  //-       option Black
  //-       option Brown
  //-       option Red
  //-       option Orange
  //-       option Yellow
  //-       option Green
  //-       option Blue-Green
  //-       option Blue
  //-       option Purple
  //- 
  //-     label(for='specialty') Specialty Glaze
  //-     select(id='specialty' name='specialty')
  //-       option(disabled selected) N/A
  //-       option Crystalline
  //-       option Metallic
  //-       option Luster
  //-       option Texture
  //-       option Rivulet
  //-       option Slip
  //-       option Stain
  //-       option Engobe
  //- 
  //-     label(for='image') Upload Image
  //-     input(type='file' id='image' placeholder='Select File' name='image')
  //- 
  //-   .medium-8.columns
  //-     .row
  //-       .medium-8.columns
  //-         label(for='ingredients') Base Ingredients
  //-         input(type='text' id='ingredients' name='ingredient_1')
  //-         input(type='text' id='ingredients' name='ingredient_2')
  //-         input(type='text' id='ingredients' name='ingredient_3')
  //-         input(type='text' id='ingredients' name='ingredient_4')
  //-         input(type='text' id='ingredients' name='ingredient_5')
  //-         input(type='text' id='ingredients' name='ingredient_6')
  //-         input(type='text' id='ingredients' name='ingredient_7')
  //-         input(type='text' id='ingredients' name='ingredient_8')
  //-         input(type='text' id='ingredients' name='ingredient_9')
  //-         input(type='text' id='ingredients' name='ingredient_10')
  //-       
  //-       .medium-4.columns
  //-         label(for='amount') Amount
  //-         input(type='text' id='amount' name='amount_1')
  //-         input(type='text' id='amount' name='amount_2')
  //-         input(type='text' id='amount' name='amount_3')
  //-         input(type='text' id='amount' name='amount_4')
  //-         input(type='text' id='amount' name='amount_5')
  //-         input(type='text' id='amount' name='amount_6')
  //-         input(type='text' id='amount' name='amount_7')
  //-         input(type='text' id='amount' name='amount_8')
  //-         input(type='text' id='amount' name='amount_9')
  //-         input(type='text' id='amount' name='amount_10')
  //-         
  //-     .row
  //-       .medium-8.columns
  //-         label(for='add-ingredients') Additional Ingredients
  //-         input(type='text' id='add-ingredients' name='add_in_1')
  //-         input(type='text' id='add-ingredients' name='add_in_2')
  //-         input(type='text' id='add-ingredients' name='add_in_3')
  //-         input(type='text' id='add-ingredients' name='add_in_4')
  //-         input(type='text' id='add-ingredients' name='add_in_5')
  //-       
  //-       .medium-4.columns
  //-         label(for='add-amounts') Amount
  //-         input(type='text' id='add-amounts'  name='add_amount_1')
  //-         input(type='text' id='add-amounts'  name='add_amount_2')
  //-         input(type='text' id='add-amounts'  name='add_amount_3')
  //-         input(type='text' id='add-amounts'  name='add_amount_4')
  //-         input(type='text' id='add-amounts'  name='add_amount_5')
  //-     
  //-     .row
  //-       .medium-12.columns
  //-         label(for='notes') Notes
  //-         textarea(rows=6 id='notes' name='notes')
  //-     
  //-     .row
  //-       .medium-12.columns
  //-         input(type='submit' value="Add New Recipe")
          
