.row.show-all
  .medium-10.columns.content-h1
    h1 All Recipes
  .medium-2.columns
    a.link-button(href='/glazes') +

for val in recipes
  .row.recipe
    .medium-2.columns
      a(href='/glazes/' + val._id) IMAGE
    .medium-9.columns
      a(href='/glazes/' + val._id) 
        h3 #{val.title}
      p #{val.tempRange} | #{val.cone} | #{val.surface}
    .medium-1.columns.fav
      if val.favorite
        i.fa.fa-heart
        
.row
  .medium-12.columns.footer
