.row
  .medium-10.columns
    h2 All Recipes
  .medium-2.columns
    a(href='/glazes') ADD

for val in recipes
  .row
    .medium-2.columns
      a(href='/glazes/' + val._id) img
    .medium-9.columns
      a(href='/glazes/' + val._id) #{val.title}
      p #{val.tempRange}&emsp;|&emsp;#{val.cone}&emsp;|&emsp;#{val.surface}
    .medium-1.columns
      p Fav
